    <h1><img src="./assets/hive.png" width="32" height="32" style="margin-bottom:-8px;"> Litecoin Cash : Hive mining simulator</h1>
    <table>
      <tr>
        <td valign="top">
          <table>
            <tr><td colspan="2"><b>Simulation parameters</b><br><br></td></tr>
            <tr><td>Blocks to simulate per step</td><td><input type="text" id="numBlocks" value="24"></td></tr>
            <tr><td>Chance to add a bee</td><td><input type="test" id="beeAddChance" value="0.05"> / 1.0</td></tr>
            <tr><td>Max bees to add when adding</td><td><input type="test" id="beeAddQuant" value="5"></td></tr>
            <tr><td colspan="2"><br><b>Consensus rules: Bee lifetime</b><br><br></td></tr>
            <tr><td>Time till a new bee matures</td><td><input type="test" id="beeMatBlocks" value="576"> blocks</td></tr>
            <tr><td>Bee lifespan after maturation</td><td><input type="test" id="beeLifeSpanBlocks" value="4032"> blocks</td></tr>
            <tr><td colspan="2"><br><b>Consensus rules: beeHashTarget adjustment</b><br><br></td></tr>
            <tr><td>Target limit (easiest target)</td><td><input type="test" id="maxTarget" value="0fffffffffffffffffffffffffffffff"> (uint_256)</td></tr>
            <tr><td>EMA window size</td><td><input type="test" id="emaWindowSize" value="30"></td></tr>
            <tr><td>EMA spacing target</td><td><input type="test" id="emaSpacingTarget" value="2"></td></tr>
            <tr><td colspan="2"><br><input type="button" id="runstop" onclick="ToggleRunStop()" value="Run"> <input type="button" onclick="StepSim()" value="Step"> <input type="button" onclick="ClearChart();app.Reset()" value="Reset"> <input type="button" onclick="app.AddBees(document.getElementById('numBees').value)" value="Manually Add"> <input type="text" id="numBees" value="200"> bees</td></tr>
          </table>
        </td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td valign="top">
          <div id="results"></div>
        </td>
      </tr>
    </table>
    <br>
    <div id="theMightyGraph" style="min-width: 310px; height: 400px; margin: 0 auto"></div>